<footer class="pageFooter">
	<div class="wrapper">
		<div class="column adm">
			<div class="gs">
				<p>Administrado por</p>
				<a href="http://www.gsecomm.com.br/" target="_blank" title="GSECOMM">
					<img src="/arquivos/gsecomm-logo.png" alt="GSECOMM" />
				</a>
			</div>

			<div class="phoneInfo">
				<p>Fale conosco <span>(21) 0000 0000</span></p>
			</div>
		</div>

		<div class="column infos">
			<div class="row links">
				<ul>
					<li><a href="" title="Política de Privacidade">Política de Privacidade</a></li>
					<li><a href="" title="Termos e Condições">Termos e Condições</a></li>
				</ul>
			</div>

			<div class="row address">
				<p>Rua Bom Pastor, 2732 - Ipiranga  04203-003 - Torre Norte - Sala Garden  -  11-3853-3931 - CNPJ: 000000</p>
			</div>

			<div class="row">
				<div class="colItem">
					<img src="/arquivos/formas-pagamento.png" alt="Visa, mastercard, diners, amex, hipercard" />
				</div>
					
				<div class="colItem">
				</div>

				<div class="colItem">
					<a href="http://www.originalmedia.com.br/" target="_blank" title="Original Media">
						<span>design</span>
						<img src="/arquivos/originalmedia-logo.png" alt="Original Media" />
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>