<div class="floatHeader">
	<div class="wrapper">
		<div class="logo">
			<a href="/" title="Super pásco" class="logoImg">Duloren</a>
		</div>
	</div>
</div>

<header class="pageHeader">
	<div class="wrapper">
		<div class="logo column">
			<a href="/" title="Super páscoa" class="logoImg">Super páscoa</a>
		</div><!--/logo-->
		
		<div class="searchBox column">
			<vtex.cmc:fullTextSearchBox/>
		</div><!-- /searchBox -->

		<div class="shippingInfo column">
			<ul>
				<li>Frete grátis <span>todo Brasil</span></li>
				<li>Parcele <span>suas compras</span></li>
			</ul>
		</div>

		<div class="welcomeMsg column">
			<vtex.cmc:welcomeMessage/>

			<ul class="listLinks">
				<li><a href="/account">Minha conta</a></li>
				<li><a href="/account/orders">Meus pedidos</a></li>
			</ul>
		</div>

		<div class="miniCart column">
			<a href="/checkout/#cart" class="cartAmountLink">
				<p>Minhas compras</p>
				<vtex.cmc:AmountItemsInCart />
			</a>
			<vtex.cmc:miniCart />
		</div><!-- /miniCart -->
	</div>
</header>