#set($id = $product.Id)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)
#set($evaluationRate = $product.EvaluationRate)

<div class="productImage">
	<a title="$escapedName" href="$uri">
		$product.GetImageTag(30)
		<div class="productImageHover">$product.GetImageTag(30,"2")</div>
	</a>
</div>

<div class="productInfo">
	$product.BrandLink

	<p class="productName">
		<a title="$escapedName" href="$uri">$product.Name</a>
	</p>
	
	<div id="rateProduct-$id" class="rateProduct evaluation$evaluationRate">$evaluationRate</div>
	
	#if ($product.IsInStock)
		<div class="productPrice">
	        <a href="$uri">
		        #if ($product.HasBestPrice)
		          <span class="oldPrice">De <strong>$product.ListPrice</strong></span>
		        #end
		        <span class="bestPrice">Por <strong>$product.BestPrice</strong></span>
		            
		        #if ($product.NumbersOfInstallment > 1)
		            <span class="installment">
		                em <strong class="numberInstallment">${product.NumbersOfInstallment}x</strong> de <strong class="valueInstallment">$product.InstallmentValue</strong> sem juros.
		            </span>
		        #end

		        #if ($product.HasBestPrice)
        			<p class="economy">Economia de <strong>$product.ListPriceMinusBestPrice</strong></p>
		        #end
	        </a>
    	</div> 

		<div class="flagDiscount">$product.ListPriceMinusBestPriceInPercent</div>
	#else
		<div class="soldOut">
			<p>Produto esgotado</p>
		</div>
	#end

	<div class="quickView">
    	$product.QuickView
    </div>
</div>