#set($id = $product.Id)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)
#set($evaluationRate = $product.EvaluationRate)

<div class="productImage">
	<a title="$escapedName" href="$uri">
		$product.GetImageTag(30)
	</a>
</div>

<div class="productInfo">
	<p class="productName">
		<a title="$escapedName" href="$uri">$product.Name</a>
	</p>
	
	<div class="flagDiscountHighlight" style="display:none;">
	    $product.ListPriceMinusBestPriceInPercent
	</div>

	#if ($product.IsInStock)
		<div class="productPrice">
	        <a href="$uri">
		        #if ($product.HasBestPrice)
		          <span class="oldPrice"><strong>$product.ListPrice</strong></span>
		        #end
		        <span class="bestPrice"><strong>$product.BestPrice</strong></span>
	        </a>
    	</div> 
	#else
		<div class="soldOut">
			<p>Produto esgotado</p>
		</div>
	#end
</div>