<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
    <vtex:metaTags/>
    
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <vtex:template id="commonHead" />
</head>

<body>
    <div class="all">

        <vtex:template id="header" />
        
        <div id="mainContent">
            <div class="wrapper">
            
            <div class="pageError">
                <h1>Desculpe-nos, a página não foi encontrada.</h1>
                <p>A página que você buscou não existe, foi removida ou o sistema está fora do ar.</p>
                <p>Por favor, verifique se o endereço está correto ou tente novamente mais tarde.</p>
                <a href="/">VOLTAR PARA HOME</a>
            </div> 
            
    		</div><!-- /wrapper -->
        </div><!-- /mainContent-->

        <vtex:template id="footer" />
    </div><!--/all-->

    <vtex:template id="commonBottom" />
</body>
</html>