<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
    <vtex:metaTags/>
    
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <vtex:template id="commonHead" />
</head>

<body>
    <div class="all">
        <vtex:template id="header" />
        
        <div id="mainContent">
            <div class="wrapper">
                <section class="topInfo">
                    <div class="categoryName">
                        <vtex:contentPlaceHolder id="Banners Categoria" />
                    </div>

                    <div class="featuredBanner mainGallery">
                        <vtex:contentPlaceHolder id="Banners produtos em destaque" />
                    </div>
                </section>

                <aside class="navSidebar">
                     <div class="filterOptions">
                        <vtex.cmc:searchNavigator/>
                    </div>
                </aside>
                
                <section class="pageContent">

                    <div class="viewType">
                        <span class="itemName">Visualizar:</span>

                        <div class="switchView">
                            <span class="view3Col active">Tabela</span>
                            <span class="view2Col">Lista</span>
                        </div>
                    </div>
                    
                    <vtex.cmc:searchResult layout="ef3fcb99-de72-4251-aa57-71fe5b6e149f" itemCount="50" columnCount="4" />
                </section>
    		</div><!-- /wrapper -->
        </div><!-- /mainContent-->

        <vtex:template id="footer" />
    </div><!--/all-->

    <script src="/arquivos/vtex-smartResearch.min.js"></script>
    <vtex:template id="commonBottom" />
</body>
</html>