<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
    <vtex:metaTags/>
    
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <vtex:template id="commonHead" />
</head>

<body>
    <div class="all">
        <h1 class="seoStoreName">Nestlé</h1>

        <vtex:template id="header" />
        
        <div id="mainContent">
            <div class="wrapper">
                <section class="mainGallery">
                    <vtex:contentPlaceHolder id="banner tv" />
                </section>
    
                <section class="categoriesHighlight">
                    <div class="column">
                        <vtex:contentPlaceHolder id="Banner Lembrança" />
                        
                        <div class="categoryProducts" data-catg="C%3a%2f13%2f">
                            <vtex:contentPlaceHolder id="Produtos Lembrança" />

                            <a href="/perfeito-para-uma-lembranca" class="btnSeeAll">Ver todos</a>
                        </div>
                    </div>

                    <div class="column">
                        <vtex:contentPlaceHolder id="Banner Família" />
                        
                        <div class="categoryProducts" data-id="C%3a%2f11%2f">
                            <vtex:contentPlaceHolder id="Produtos Família" />

                            <a href="/para-presentear-a-familia" class="btnSeeAll">Ver todos</a>
                        </div>
                    </div>

                    <div class="column">
                        <vtex:contentPlaceHolder id="Banner Criançada" />
                        
                        <div class="categoryProducts" data-id="C%3a%2f12%2f">
                            <vtex:contentPlaceHolder id="Produtos Criançada" />
                            
                            <a href="/para-a-alegria-da-criancada" class="btnSeeAll">Ver todos</a>
                        </div>
                    </div>

                    <div class="column">
                        <vtex:contentPlaceHolder id="Banner Especial" />
                        
                        <div class="categoryProducts" data-id="C%3a%2f10%2f">
                            <vtex:contentPlaceHolder id="Produtos Especial" />

                            <a href="/para-deixar-a-data-muito-especial" class="btnSeeAll">Ver todos</a>
                        </div>
                    </div>
                </section>

                <aside class="navSidebar">
                    <nav class="filterMenu singleLinks">   
                        <ul>
                            <li><a href="/166?map=productCluster">Kit Kat Rubies</a></li>
                            <li><a href="/Criança?map=c,specificationFilter_32">Criança</a></li>
                            <li><a href="/Adulto?map=c,specificationFilter_32">Adulto</a></li>
                            <li><a href="/Com%20brinde?map=c,specificationFilter_32">Com brinde</a></li>
                            <li><a href="/Nestlé?map=c,specificationFilter_32">Nestlé</a></li>
                            <li><a href="/Garoto?map=c,specificationFilter_32">Garoto</a></li>
                            <li><a href="/busca?fq=H:165">Todos</a></li>
                        </ul>
                    </nav>

                    <nav class="filterMenu collapseBox">   
                        <div class="filterItem">
                            <p class="title">Marcas</p>
                            <ul>
                                <li><a href="/alpino">Alpino</a></li>
                                <li><a href="/classic">Classic</a></li>
                                <li><a href="/crunch">Crunch</a></li>
                                <li><a href="/especialidades">Especialidades</a></li>
                                <li><a href="/galak">Galak</a></li>
                                <li><a href="/prestigio">Prestígio</a></li>
                                <li><a href="/sensacao">Sensação</a></li>
                                <li><a href="/crocante">Crocante</a></li>
                                <li><a href="/serenata-de-amor">Serenata de amor</a></li>
                                <li><a href="/talento">Talento</a></li>
                            </ul>
                        </div>
                    </nav>

                    <nav class="filterMenu collapseBox">   
                        <div class="filterItem">
                            <p class="title">Faixa de preço</p>
                            <ul>
                                <li><a href="/de-0,01-a-19,99?map=c,priceFrom">Até R$19</a></li>
                                <li><a href="/de-20-a-29,99?map=c,priceFrom">De R$20 a R$29</a></li>
                                <li><a href="/de-30-a-39,99?map=c,priceFrom">De R$30 a R$39</a></li>
                                <li><a href="/de-40-a-49,99?map=c,priceFrom">De R$40 a R$49</a></li>
                                <li><a href="/de-50-a-1000,00?map=c,priceFrom">Acima de R$50</a></li>
                            </ul>
                        </div>
                    </nav>
                </aside>

                <div class="pageContent">
                    <section class="featuredProducts shelfCarousel">
                        <vtex:contentPlaceHolder id="Coleções em destaque" />
                    </section>

                    <section class="collapseBanner">
                        <div class="bannerClose">
                            <vtex:contentPlaceHolder id="Banner destaque fechado" />
                        </div>

                        <div class="bannerOpen">
                            <vtex:contentPlaceHolder id="Banner destaque aberto" />
                        </div>
                    </section>

                    <section class="featuredProducts shelfCarousel">
                        <vtex:contentPlaceHolder id="Coleções em destaque linha 2" />
                    </section>
                </div>

            </div><!-- /wrapper -->
        </div><!-- /mainContent-->

        <vtex:template id="footer" />
    </div><!--/all-->

    <vtex:template id="commonBottom" />
</body>
</html>