<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
    <vtex:metaTags/>
    
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <vtex:template id="commonHead" />
</head>

<body>
    <div class="all">
        <h1 class="seoStoreName">Nestlé</h1>

        <vtex:template id="header" />
        
        <div id="mainContent">
            <div class="wrapper">
                <section class="mainGallery">
                    <vtex:contentPlaceHolder id="banner tv" />
                </section>
    
                <section class="categoriesHighlight">
                    <div class="column">
                        <vtex:contentPlaceHolder id="Banner Lembrança" />
                        
                        <div class="categoryProducts" data-catg="C%3a%2f13%2f">
                            <vtex:contentPlaceHolder id="Produtos Lembrança" />

                            <a href="/perfeito-para-uma-lembranca" class="btnSeeAll">Ver todos</a>
                        </div>
                    </div>

                    <div class="column">
                        <vtex:contentPlaceHolder id="Banner Família" />
                        
                        <div class="categoryProducts" data-id="C%3a%2f11%2f">
                            <vtex:contentPlaceHolder id="Produtos Família" />

                            <a href="/para-presentear-a-familia" class="btnSeeAll">Ver todos</a>
                        </div>
                    </div>

                    <div class="column">
                        <vtex:contentPlaceHolder id="Banner Criançada" />
                        
                        <div class="categoryProducts" data-id="C%3a%2f12%2f">
                            <vtex:contentPlaceHolder id="Produtos Criançada" />
                            
                            <a href="/para-a-alegria-da-criancada" class="btnSeeAll">Ver todos</a>
                        </div>
                    </div>

                    <div class="column">
                        <vtex:contentPlaceHolder id="Banner Especial" />
                        
                        <div class="categoryProducts" data-id="C%3a%2f10%2f">
                            <vtex:contentPlaceHolder id="Produtos Especial" />

                            <a href="/para-deixar-a-data-muito-especial" class="btnSeeAll">Ver todos</a>
                        </div>
                    </div>
                </section>

                <aside class="navSidebar">
                    <nav class="filterMenu">   
                        <ul>
                            <li><a href="/Criança?map=c,specificationFilter_32">Criança</a></li>
                            <li><a href="/Adulto?map=c,specificationFilter_32">Adulto</a></li>
                            <li><a href="/Com%20brinde?map=c,specificationFilter_32">Com brinde</a></li>
                            <li><a href="/Sem%20brinde?map=c,specificationFilter_32">Sem brinde</a></li>
                            <li><a href="/Nestlé?map=c,specificationFilter_32">Nestlé</a></li>
                            <li><a href="/Garoto?map=c,specificationFilter_32">Garoto</a></li>
                        </ul>
                    </nav>
                </aside>

                <div class="pageContent">
                    <section class="featuredProducts shelfCarousel">
                        <vtex:contentPlaceHolder id="Coleções em destaque" />
                    </section>

                    <section class="banner">
                        <vtex:contentPlaceHolder id="Banner destaque" />
                    </section>

                    <section class="featuredProducts shelfCarousel">
                        <vtex:contentPlaceHolder id="Coleções em destaque linha 2" />
                    </section>
                </div>

    		</div><!-- /wrapper -->
        </div><!-- /mainContent-->

        <vtex:template id="footer" />
    </div><!--/all-->

    <vtex:template id="commonBottom" />
</body>
</html>