<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
    <vtex:metaTags/>
    
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <vtex:template id="commonHead" />
</head>

<body>
    <div class="all">
        <vtex:template id="header" />
        
        <div id="mainContent">
            <div class="wrapper">
                <vtex.cmc:breadCrumb />
            
                <div class="mainProduct">
                    <section class="mainProductImage">
                        <vtex.cmc:ProductImage/>
                    </section><!--/mainProductImage -->

                    <section class="mainProductInfo">
                        <h1 class="productTitle"><vtex.cmc:productName/></h1>
                        
                        <div class="chooseProduct">
                            <vtex.cmc:skuSelection />
                        </div>
                        
                        <div class="buyProduct">
                            <div class="priceProduct">
                                <vtex.cmc:skuPrice/>
                            </div>

                            <div class="buyProductButton">
                                <vtex.cmc:BuyButton />
                            </div>
                        </div>
                    </section><!-- /mainProductInfo-->
                </div><!-- /mainProduct -->               

                <section class="productDetails">
                    <div class="tabsItems">
                        <div class="tabs">
                            <nav class="tabNav">
                                <a class="tabLink active" data-ref="descricao">Descrição</a>
                                <a class="tabLink" data-ref="nutricional">Tabela Nutricional</a>
                            </nav>
                        </div>

                        <div class="tabContent descricao active">
                            <vtex.cmc:ProductDescription/>
                        </div>

                        <div class="tabContent nutricional">
                            <vtex.cmc:productSpecification/>
                        </div>
                    </div>  
                </section><!-- productDescription -->

                <section class="productEvaluation">
                    <vtex.cmc:UserReview/>
                </section><!-- productEvaluation -->

                <section class="productComplementary shelfCarousel">  
                    <vtex:contentPlaceHolder id="Produtos complementares" />
                </section><!-- productComplementary -->
    		</div><!-- /wrapper -->
        </div><!-- /mainContent-->

        <vtex:template id="footer" />
    </div><!--/all-->

    <vtex:template id="commonBottom" />
</body>
</html>