@charset "UTF-8";
@import "../../../../../_baseStructure/base/_library-modules";

/* ==========================================================================
   Footer
   ========================================================================== */
.pageFooter{
	// background: $primaryColorLight;
	color: $white; 	
	margin-top: 50px;
	text-transform: uppercase;
	font-size: rem(12px);
	@include linear-gradient(to top, $primaryColor, $primaryColorLight);

	a{
		color: $white;

		&:hover{
			text-decoration: underline;
		}
	}

	.adm{
		@include span-columns(3);
		// background: $primaryColorDark;
		text-align: center;
		border-left: 1px solid #cf142d;
		border-right: 1px solid #cf142d;

		p{
			margin-bottom: 10px;
		}

		.gs{
			padding: 25px 0;
		    border-bottom: 1px solid #cf142d;
		}

		.phoneInfo{
			padding: 25px 0 10px 0;

			span{
				color: $secondaryColor;
				font-weight: bold;
				display: block;
				font-size: rem(20px);
				line-height: 1.5;
			}
		}
	}

	.infos{
		@include span-columns(9);
		padding: 30px 10px 20px 10px;

		.links{
			li{
				display: inline-block;
				vertical-align: middle;
				margin-right: 50px;
			}	
		}

		.row{
			margin-bottom: 35px;

			&:last-child{
				margin-bottom: 0;
			}
		}

		.colItem{
			display: inline-block;
			vertical-align: middle;
			margin-right: 20px;
		}

		a{
			span{
				font-size: 8px;
				position: absolute;
				display: block;
			}
		}
	}
}
