@charset "UTF-8";
@import "../../../../../_baseStructure/base/_library-modules";

/* ==========================================================================
   Common
   ========================================================================== */
body{
	font-family: $primaryFont;
	font-size: em(13px);
	color: $baseColor;
}

.wrapper{
	@include outer-container();
  	width: $max-width;
}

.right{
	text-align: right;
}

.seoStoreName{display: none;}

#ajaxBusy{
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 2;
	color: $white;
}

/*breadcrumb*/
@include breadcrumb($baseColor, $baseColor); 
.bread-crumb{
	li a{
		text-decoration: underline;
	}
}


/*slider*/
.mainGallery{
	@include galleryBullets($white, $primaryColor, 10px, 10px, 2px, $primaryColor, 0 5px);
	@include sideNav(13px, 25px, -521px -67px, -521px -14px, 0, 45%);

	.slick-dots{
		margin-top: 0;
	}	
}

.carouselGallery{}

.verticalSlider{}


/*title*/
.pageTitle{
	@include pageTitle2();
}

	
/*lightbox*/
@include lightbox();





/**/


.ui-autocomplete {display:none !important;}
.shelf li.venda-b2b,
.search-single-navigator h3.venda-b2b {
    display:none;
}

.filterOptions h4.venda-b2b {display:none !important;}