@charset "UTF-8";
@import "../../../../../_baseStructure/base/_library-modules";

/* ==========================================================================
   Header
   ========================================================================== */
.pageHeader{
    color: $white;
    margin-bottom: 20px;
    padding: 15px 0;
    @include linear-gradient(to top, $primaryColor, $primaryColorLight);

    .column{
        display: inline-block;
        vertical-align: middle;
    }

    .logo{
        .logoImg{
            background: url("/arquivos/super-pascoa-logo.png") no-repeat;
            width: 233px;
            height: 49px;
            font-size: 0;
            display: block;
        }
    }

    .welcomeMsg{
        width: 220px;
        margin: 0 20px;
        text-align: center;

        .welcome a{
            color: $white;
            text-decoration: underline;
        }
    }

    .listLinks{
        position: absolute;
        background: $white;
        padding: 10px;
        z-index: 2;
        display: none;
    }

    .searchBox{
        margin: 0 45px;

        @include searchBox1(transparent, $white, $white, $primaryFont, rem(14px), 205px, 175px);
        
        fieldset{
            border-width: 0 0 1px 0;
            padding: 6px 0;
        }

        input{
            display: inline-block;
            vertical-align: top;
            font-style: italic;
        }

        .btn-buscar{
            background: $bgsprite -212px -68px;
            width: 25px;
            height: 25px;
            font-size: 0;
            border: none;
            cursor: pointer;
            outline: none;
        }
    }

    .miniCart{
        .cartAmountLink{
            p{
                position: absolute;
                margin: 5px 0 0 50px;
                width: 50px;
                line-height: 1;
                color: $white;
            }
        }
    
        .amount-products, .amount-kits, .title, .amount-items, .total-cart strong{display: none}
    
        .portal-totalizers-ref, .cartInfoWrapper{
            display: inline-block;
            vertical-align: middle;
        }

        .total-cart{
            color: $white;

            &:before{
                content: "";
                display: inline-block;
                vertical-align: bottom;
                background: $bgsprite -333px -26px; 
                width: 37px;
                height: 52px;
                margin-right: 8px;
            }

            &:after{
                content: "";
                background: $bgsprite -271px -26px;
                width: 8px;
                height: 5px;
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
            }
        }

        //hover carrinho
        .portal-minicart-ref{
            display:none;
        }
    }

    .shippingInfo{   
        p{
            text-transform: uppercase;
            font-size: rem(14px);
            font-weight: bold;
            line-height: 1.1;
            display: inline-block;
            vertical-align: middle;

            span{
                display: block;
            }
        }

        &:before{
            content: "";
            background: $bgsprite -415px -18px;
            width: 21px;
            height: 16px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}

/*busca auto complete*/
@include autocomplete($white, 205px, $color7);