@charset "UTF-8";
@import "../../../../../_baseStructure/base/_library-modules";

/* ==========================================================================
   Catalog
   ========================================================================== */

.navSidebar{
	@include span-columns(3);
}

.pageContent{
	@include span-columns(9);
	
	.compare, .pager, .filterBy, .searchResultsTime, .sub:last-child{
		display: none;
	}

	.resultItemsWrapper{
		.shelf{
			li.last{
				margin-right: 0 !important;
			}
		}

		&.col2{
			.shelf{
				li{
					@include span-columns(6);
				}
			}
		}
	}
}

body.catalog{
	.pageContent{
		border-left: 1px solid $color7;
	}
}

body.department {

	.mainGallery{

		.slick-dots{
			float: left;
			position: absolute;
			top: 75%;
			left: 90px;
		}

		.slick-arrow {
			@include appearance(none);
			border: none;
			position: absolute;
			top: 45%;
			z-index: 20;
			background: $bgsprite -521px -67px;
			width: 13px;
			height: 25px;
			font-size: 0;

			&.slick-prev  {
				
			}

			&.slick-next  {
				right: 0;
				background-position: -521px -14px;
			}
		}
	}
}

body.search-result {

	.searchResultsTime {
		display: block;
		.resultado-busca-termo,
		.resultado-busca-tempo,{
			display: none;
		}
	}


	.titulo-sessao {

		.resultado-busca-numero {
			color: $color6;
			font-size: rem(12px);
			margin-left: 10px;
			text-transform: lowercase;
			position: relative;

			.label {
				top: -5px;
				position: relative;
				padding-left: 12px;
			}

			.value {
				position: absolute;
				left: 0;
				top: -4px;
			}
		}

		.resultado-busca-numero:last-child {
			display: none;
		}
	}
}

// titulo
.titulo-sessao{
	@include pageTitle();
	color: $primaryColor;

	em{
		color: $baseColor;
	}
}


// departamento
.categoryName{
	@include span-columns(4);
}
.featuredBanner{
	@include span-columns(8);
}


//filtros
.navSidebar{
	padding-right: 40px;

	.menu-navegue, .bt-refinar, .search-single-navigator, .search-multiple-navigator h3, .search-multiple-navigator h4{
		display: none;
	}

	.menu-departamento{
		h3, h4{
			position: relative;
			border: 1px solid $color7;
			border-radius: 5px;
			margin-bottom: 10px;
			transition: all .3s linear;

			&:hover{
				border-color: $primaryColor;
			}

			a{
				display: block;
				color: $primaryColor;
				font-size: rem(12px); 
				text-transform: uppercase;
				cursor: pointer;
				padding: 10px 15px;
				width: 90%;
			}

			&:after{
				content: "";
				background: $bgsprite -126px -21px;
				width: 6px;
				height: 10px;
				display: block;
				position: absolute;
				top: 20px;
				right: 15px;
			}
		}
	}

	.refino{
		border: 1px solid $color7;
		border-radius: 5px;
		padding: 15px;
		margin-bottom: 15px;
		position: relative;

		h5{
			color: $primaryColor;
			font-size: rem(12px); 
			text-transform: uppercase;
			cursor: pointer;
			width: 90%;

			&:after{
				content: "";
				background: $bgsprite -171px -73px;
				width: 10px;
				height: 7px;
				display: block;
				position: absolute;
				top: 20px;
				right: 15px;
			}

			&.active{
				&:after{
					background-position: -124px -73px;
				}
			}
		}

		div{
			margin-top: 10px;
		}

		label{
			font-size: rem(12px); 
			background: $color8;
			text-transform: uppercase;
			color: $baseColor;
			cursor: pointer;
			padding: 12px;
			margin-bottom: 3px;
			float: left;
			clear: both;

			&.sr_selected{
				background: $primaryColor;
				color: $white;

				&:after{
					content: "";
					background: $bgsprite no-repeat -571px -20px;
					width: 10px;
					height: 8px;
					display: inline-block;
				    vertical-align: middle;
				    margin-left: 8px;
				}
			}

			input{
				display: none;
			}
		}
	}

	.catgDescription{
		margin-top: 20px;

		.title{
			font-size: rem(20px);
			margin-bottom: 10px;
			color: $primaryColor;
			line-height: 1.1;
		}
	}
}


// opcoes de ordenacao 
.sortOptions{
	border-top: 1px solid $color7;
	border-bottom: 1px solid $color7;
	padding: 20px;	
	margin-bottom: 20px;
}

.orderBy label, .viewType .itemName{
	font-size: rem(12px);
	color: $color6;
	margin-right: 20px;
}

.viewType{
	float: left;
	
	.itemName, .switchView{
		display: inline-block;
		vertical-align: middle;
	}
}

//visualizacao
.switchView{
	span{
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
		background: $bgsprite $white;
		margin-right: 10px;
		width: 40px;
		height: 30px;
		border: 1px solid $color7;
		cursor: pointer;

		&.view3Col{
			background-position: -906px -12px;
			
			&.active{
				background-position: -857px -12px;
			}
		}

		&.view2Col{
			background-position: -906px -61px;
			
			&.active{
				background-position: -857px -61px;
			}
		}

		&.active{
			border-color: $primaryColor;
			background-color: $primaryColor;
		}
	}
}

//ordernar
.orderBy{
	float: right;
	position: relative;

	&:after {
		content: '';
		display: inline-block;
		background: $bgsprite  -620px -21px;
		width: 10px;
		height: 7px;
		position: absolute;
		top: 13px;
		right: 8px;
		z-index: 0;
	}


	select{
		@include appearance(none);
		color: $primaryColor;
		border: 1px solid $color7;
		padding: 5px 10px;
		border-radius: 5px;
		font-size: rem(14px);
		font-family: $primaryFont;
		background: transparent;
		z-index: 1;
	}
}


// scroll infinito
.btn-load-more{
	@include secondaryButton();
	width: 200px;
	margin: 40px auto 0 auto;
}

#returnToTop{
	position: fixed;
	right: 5px;
	bottom: 50px;
	z-index: 2;
	display: none;

	a{
		background: #fff;
		color: #666;
		border: 1px solid $color6;
		display: block;
		padding: 7px;
	}

	span{
		display: block;
		font-size: 10px; 
	}

	.text2{
		font-size: 15px;
	}
}