@charset "UTF-8";
@import "../../../../../_baseStructure/base/_library-modules";

/* ==========================================================================
   Home
   ========================================================================== */

body.home{
	.mainGallery {
		height: 370px;
		overflow: hidden;
	}
}

// categorias destacadas   
.categoriesHighlight{
	padding: 0 20px;
	margin: 40px 0;

	.column{
		@include span-columns(3);
	}
}

.categoryProducts{
	margin: 40px 0;
	
	ul{
		padding: 10px 0;

		li{
			min-height: 310px;
		}
	}

	h2{
		display: none;
	}

	@include verticalNav(22px, 13px, -465px -18px, -465px -71px, -15px, -15px);
	
	.slick-arrow{
		left: 45%;
	}

	.slick-list {
        padding: 2px;
    }

	.btnSeeAll{
		display: block;
		margin-top: 40px;
		@include primaryButton();
	}
}

// filter menu
.filterMenu{
	padding-left: 20px;
	margin-top: 30px;

	&.singleLinks{
		li{
			position: relative;
			border: 1px solid $color7;
			border-radius: 5px;
			margin-bottom: 10px;
			transition: all .3s linear;

			&:hover{
				background: $primaryColor;
				
				a{
					color: $white;
				}

				&:after{
					background-position: -174px -22px;
				}
			}

			a{
				display: block;
				color: $primaryColor;
				font-size: rem(12px); 
				text-transform: uppercase;
				cursor: pointer;
				padding: 12px 15px;
				width: 90%;
			}

			&:after{
				content: "";
				background: $bgsprite -126px -21px;
				width: 6px;
				height: 10px;
				display: block;
				position: absolute;
				top: 15px;
				right: 15px;
			}
		}
	}

	&.collapseItems{
		border: 1px solid $color7;
		border-radius: 5px;
		padding: 15px;
		margin-bottom: 15px;
		position: relative;

		.title{
			color: $primaryColor;
			font-size: rem(12px); 
			text-transform: uppercase;
			cursor: pointer;
			width: 90%;

			&:after{
				content: "";
				background: $bgsprite -171px -73px;
				width: 10px;
				height: 7px;
				display: block;
				position: absolute;
				top: 20px;
				right: 15px;
			}

			&.active{
				&:after{
					background-position: -124px -73px;
				}
			}
		}

		ul{
			margin-top: 10px;
		}

		li{
			font-size: rem(12px); 
			text-transform: uppercase;
			color: $baseColor;
			cursor: pointer;
			margin-bottom: 5px;
		}
	}
}

.banner{
	margin: 20px 0 40px 0;
}
