@charset "UTF-8";
@import "../../../../../_baseStructure/base/_library-modules";

/* ==========================================================================
   Insitutional
   ========================================================================== */
body.institutional{	
	.navSidebar{
		padding-right: 0px;
	}
	
	.institutionalLinksTitle{
		font-size: em(19px);
		text-transform: uppercase;
		margin-bottom: 10px;
		font-weight: bold;
	}

	.institutionalLinksList{
		margin-bottom: 50px;

		li{
			font-size: em(16px);
			line-height: 1.5;
			display: block;
			margin-bottom: 15px;
			border: 1px solid $lightergrey;
			border-radius: 5px;
						
			a{
				color: $midgrey; 
				display: block;
				padding: 7px 0px 7px 20px;
				color: $color3;
				text-transform: uppercase;
				font-family: $primaryFont;
				
				&.current{
					font-weight: bold;
				}	

				&:hover{
					text-decoration: none;
					background: $color3;
					color: $white;
					border-radius: 5px;
					transition: .5s ease;

					&:before {
					    content: "";
					    width: 20px;
					    height: 20px;
					    background: url("/arquivos/sprite-icons.png") -175px -17px;
					    float: right;
					}
				}

				&:before {
				    content: "";
				    width: 20px;
				    height: 20px;
				    background: url("/arquivos/sprite-icons.png") -673px -70px;
				    float: right;
				}
			}
		}
	}

	.pageContent{
		border: 1px solid $lightergrey;
    	border-radius: 4px;

    	.page-title {
	    	border-bottom: 1px solid $lightergrey;
	    	padding: 22px;
	    	font-family: $primaryFont;
    		font-size: em(22pt);
		}
		.srt {
    		padding: 20px;

    		p {
    			padding-bottom: 20px;
    			font-family: $primaryFont;
    		}
		}

		iframe{
			width: 100%;
		    height: 285px;			
		}
		
		h1{
			@include sectionTitle();
			margin-bottom: 15px;
			line-height: 1;
		}
		
		h2{
			font-size: em(15px);
			font-weight: bold;
			text-transform: uppercase;
		}

		p, ul{
			font-size: em(16px);
			line-height: 1.8;
			color: $midgrey;
			margin-bottom: 10px;
		}

		a{
			color: $primaryColor;
			text-decoration: underline;
		}

		li{
			list-style-type: disc;
			list-style-position: inside;
		}
	}

	&.fale-conosco{
		
		.destaque{			
			color: $color3;
			font-size: 20px;
			font-weight: bold;			
		}

		.pedidos, .duvidas{
			display: inline-block;
			padding-left: 20px;
		}

		.black{
			p{
				color: $black;
				font-weight: bold;
				padding: 0;
				margin: 0;				 
			}
		}

		.telefones{
			    border-bottom: 1px solid #e6e6e6;
		}

		.page-title{
			
			.srt{
				padding: 0;

				p{
					padding: 0;
					font-size: rem(13px);
				}
			}
		}
	}
}


/* fale conosco */
.mainContentWrapper{
    background: #fff !important;
	overflow: hidden;

    .wrapper{width: 620px;}
    
    fieldset {
        border: none;
        padding: 0;
    }

    .header, .footer, .searchWrapper, h2, hr, .bts .voltar, .box-outras-opcoes, h3, legend, .voltar .bt{display: none;}

    .grp{
        margin: 0 0 20px 0; 
        float: left;
        width: 50%;
        
        @include form();

        input{
        	width: 90%;

            &.DDD {width: 20%;}
            
            &.telefone {
            	width: 68%;
            	margin-left: 5px;
            }
        }

        &.fComentario {
        	width: 99%;
            float: none;  
            clear: both;

            textarea {
            	width: 97%;  
            	height: 100px;
            }
        }
    }

    .aviso-erro {
    	margin-bottom: 15px;
    }

    .bts {
        clear: both; 
        padding: 0;

        li {
        	list-style-type: none;
        }
        
        .enviar a{
            padding:7px 15px;  
            display: inline-block;
            float: right;
            margin-right: 25px;
            @include primaryButton();
        }
    }
}