@charset "UTF-8";
@import "../../../../../_baseStructure/base/_library-modules";


/* ==========================================================================
   Product
   ========================================================================== */
body.product{
    .mainGallery {
        margin-bottom: 60px;
        h2 {
            @include shelfTitle();
        }
    }
}

.mainProduct{
    padding-bottom: 50px;
    margin-bottom: 50px;
    box-shadow: 0 20px 55px -35px rgba(0,0,0,0.4);
}

.mainProductImage {
    @include span-columns(8);

    @include image1(#eee, #000, 63px, 530px, 10px, 530px);

    @include zoom1(530px, 530px);

    .thumbs a, #image{
        border: none !important;
        outline: none !important;
    }

    #include{
        margin-right: 30px;
    }
}

.mainProductInfo {
    @include span-columns(4);

    .productTitle {
        @include productTitle();
    }
  
    .shortDescription{
        margin: 25px 0;
    }
    
    .priceProduct, .buyProductButton{
        width: 49%;
        display: inline-block;
        vertical-align: middle;
    }

    .priceProduct {
        line-height: 1.2;

        .valor-de{
            font-size: 0;
            display: block;
            color: $color6;
            text-decoration: line-through;

            .skuListPrice{
                font-size: rem(14px);
            }
        }

        .valor-por{
            font-size: 0;
            display: block;
            color: $suportColor;
            
            .skuBestPrice{
                font-size: rem(28px);
            }
        }

        .valor-dividido {
            color: $color6;
        }
        
        .economia-de{
            color: $color6;
        }
    }

    .buy-button{
        @include buyActionButton();
    }
    
    /*avise me*/
    .sku-notifyme{
        h3{}

        input[type=text]{}

        .notifyme-button-ok{}
    }

    .gift{
        margin-top: 25px;
        padding-top: 20px;
        border-top: 1px solid $color9;

        p{
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        img{
            width: 160px;
            height: 160px;
            display: block;
        }
    }
}


/*abas*/
.tabNav{
    margin-left: 100px;

    .tabLink{
        display: inline-block;
        vertical-align: bottom;
        font-size: rem(14px);
        text-transform: uppercase;
        padding: 10px 40px;
        border: 1px solid $color7;
        border-bottom: none;
        background: #fff;
        border-radius: 5px 5px 0 0;
        position: relative;

        &.active{
            padding: 13px 40px;
            color: $primaryColor;
            margin-bottom: -1px;
            border-color: $primaryColor;
            box-shadow: 5px 2px 0 -2px rgba(0,0,0,0.1);
            z-index: 2;
        }
    }
}
.tabContent{
    border-top: 1px solid $primaryColor;
    display: none;
    padding: 20px 0;

    &.active{
        display: block;
    }
}


/*detalhes*/
.productDetails{
    margin-bottom: 60px;

    #caracteristicas{
        margin-top: 20px;

        h4 {
            display: none;
        }

        table {
            width: 100%;
            font-family: $secondaryFont;
            text-align: left;

            tr {
                position: relative;
                display: block;
                &:nth-child(even){
                    background: $color7;
                }
            }

            th {
                width: 200px;
                
                &.Regua-de-Ovos {
                    font-size: 0;
                }

                &.Imagem-especial{
                    display: none;
                }
            }

            th, td {
                padding: 10px; 
                &.Tabela-nutricional {
                    display: none;
                }
            }

            td {
                color: $primaryColor;
                &.Regua-de-Ovos {
                    padding: 20px 0px;
                    font-size: 0;
                    
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        margin: auto;
                        max-width: 800px;
                        height: auto;
                    }
                }
            }

            .Multiplicador-Kits {display:none;}
        }
    }
    .nutricional {
        img {
            margin: 20px auto;
        }
    }
}


/* avaliacao geral*/
.productEvaluation {
    margin-bottom: 60px;
}
.rate{
    margin-bottom: 10px;

    strong{
        display: none;
    }

    .rating-produto{
        background: url("/arquivos/sprite-rating.png");
        width: 95px;
        height: 16px;
        display: table;
        font-size: 0;
        margin-bottom: 5px;
        @include calcRatingShelf(-21px);
    }
}

/*resenhas*/
#resenha {
    h4, hr, .ver-todos-comentarios, .rating, #opcoes-avalie{display: none;}
    
    //media geral
    .media{
        width: 45%;
        float: right;

        .rating-produto{
            background: url("/arquivos/sprite-rating-big.png");
            width: 150px;
            height: 24px;
            font-size: 0;
            margin-bottom: 5px;
            @include calcRatingShelf(-29px);
        }

        span, em, strong{
            font-size: rem(16px);
            display: inline-block;
            vertical-align: middle;
            margin-right: 15px;
        }

        em{
            span{
                color: $color6;
                font-size: rem(14px);
            }
        }
    }

    //selecionar rating
    .ratingStar, .rating-avalie a span{
        background: url("/arquivos/sprite-rating-big.png");
        width: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        font-size: 0;

        &.filledRatingStar{background-position: 0 -29px;}
        &.emptyRatingStar{background-position: 0 0;}
    }

    //fazer avaliacao
    #ulPubliqueResenha{
        width: 55%;
        float: left;

        li{
            &:before{
                content: "O que você achou desse produto?";
                font-size: rem(16px);
                margin-right: 15px;
                display: inline-block;
            }
        }

        #lnkPubliqueResenha{
            @include primaryButton();
            display: inline-block;
            vertical-align: middle;
        }
    }

    .avalie-produto{
        display: none;
    }
}

/*publicar comentario */
#publishUserReview{
    .formUserComment { 
        z-index: 9999; 
        position: absolute;

        h2 {
            @include pageTitle();
            margin-top: 0;
        }

        & > h2{
            display: none;
        }

        & > p {
            padding: 6px 15px;
            background: #f0f0f0;
            font-size: 15px;
            font-weight: 700;
        }
    }

    .footer { 
        display: block;
        
        .close {font-size: 0;}
    }

    .header h1 a, .aviso-resenha, .ranking label, .aviso-resenha, .opiniaoInfo, .ratingTitulo{display: none;}

    .header { 
        width: 600px; 
        height: 420px; 
        background: #fff; 
        padding: 20px; 
        top: 0; 
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        position: fixed; 
        z-index: 102;
        text-align: left;

        @include form();

        input[type="text"], textarea { 
          width: 95%; 
          margin: 0 0 15px 0;
        }

        textarea { 
          height: 100px; 
          overflow: auto;
        }

        .opiniao {margin-top: 20px}

        .avaliar a{
            @include primaryButton();
            float: right; 
            display: block;
            margin-top: 20px;
        }

        .fDivulgaEmail { 
            position: absolute; 
            bottom: 20px; 
          
            label { display: inline-block !important; }
        }
    } 

    .rating-avalie{
        margin-bottom: 15px;
    }
}


/* ==========================================================================
   Produto Indisponível
   ========================================================================== */
body.productUnaviable {
    .priceProduct {
        display: none;
    }
    .notifyme {
        clear: both;
        color: $color6;
        h3 {
            font-size: rem(12px);
            margin-bottom: 10px;
            font-family: $secondaryFont;
            color: $color9;
            text-transform: uppercase;
        }
        p {
            margin-bottom: 15px;
        }
        @include form();
        input[type=text] {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            border-color: $color7;
            color:$color6;
            font-size: rem(13px);
            padding: 5px;
        }
        .notifyme-button-ok {            
            @include primaryButton();
            display: block !important;
            background:$color9;
            border: 0;
            cursor: pointer;
        }
    }
}


/* ==========================================================================
   Lightbox
   ========================================================================== */
div.lb,
div.lbOverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
}
div.lbOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
.lbContent {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;    
    text-align: center;
    padding: 20px;
    z-index: 100;
    background: #FFF;
    @include border-radius(6px);
    
    .closeLB {
        position: absolute;
        top: -35px;
        right: -35px;
        cursor: pointer;
        background: $bgsprite -959px -11px;
        width: 32px;
        height: 32px;
        display: block;
        font-size: 0;
    }

    .title {
        @include pageTitle();
        text-transform: none;        
    }
}

/*AVALIAÇÃO*/
#ratingContent {
    width: 400px;
    height: 220px;

    .rateStars {
        h5, #opcoes-avalie {display: none;}
        
        .rating-avalie a span{
            background: url("/arquivos/sprite-rating-big.png");
            width: 24px;
            height: 24px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
            font-size: 0;

            &.filledRatingStar{background-position: 0 -29px;}
            &.emptyRatingStar{background-position: 0 0;}
        }
    }

    .bt-continuar {
        background: $primaryColor;
        color: $white;
        margin:20px auto 0;
        padding: 12px 18px;
        display: table;
        text-align: center;
        text-transform: uppercase;
        font-family: $secondaryFont;
        font-size: rem(12px);
        font-weight: 300;
        border-radius: 4px;
        cursor: pointer;
    }
}

/*ADD CARRINHO*/
#buyContent {
    width: 400px;
    height: 550px;

    .buyAdd__img {
        display: block;
        width: 85%;
        margin: auto;
        img {
            width: 100%;
            height: auto;
        }
    }

    .success {
        font-family: $secondaryFont;
        color: $color9;
        font-size: rem(18px);
    }

    .bt-finalizar { 
        @include buyActionButton();
        display: block;
        margin: auto;
        display: inline-block;
    }

    .bt-continuar {
        margin-top: 15px;
        display: block;
        text-decoration: underline;
        color: $color5;
    }
}


.buyProductButton-quant.qtdProd {
    text-align:right;
    display: block !important;

    * {
        display:inline-block;
        vertical-align:middle;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    span {
        width:30px;
        height:30px;
        line-height:30px;
        text-align:center;
        font-weight:bold;
        font-size:20px;
        cursor: pointer;
    }

    input { 
        width:30px;
        height:30px;
        text-align:center;
        border:1px solid #ccc;
        border-radius:5px;
    }
}
    